body {
    background-color: rgb(176, 207, 211);
    font-family: 'Krona One', sans-serif;
}

#calc-body {
    background-color: rgb(119, 122, 122);
    border: 5px solid black;
    display:table;
    justify-content: center;
    margin: 200px auto;
    padding: 5px 5px 5px 5px;
    height: 500px;
    border-radius: 5px;
}

#input {
    width: 400px;
    min-height: 166px;
    background-color: rgb(217, 228, 230);
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Krona One', sans-serif;
    font-size: 3em;
    justify-items: right;
    border: 1px solid black;
    border-radius: 5px;
    word-wrap: break-word;
    word-break: break-all;
    
}

#numbers {
    width: 400px;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: stretch;
}

button {
    margin: 5px auto 5px auto;
    justify-content: center;
    font-family: 'Krona One', sans-serif;
    width: 90px;
    height: auto;
    background-color: rgb(46, 45, 45);
    border: 1px solid black;
    outline: none;
}

button:hover {
    box-shadow: 0px 5px 5px rgb(12, 12, 12);
}

button:active {
    transform: translateY(1px);
  }

.btn:focus, .event-btn:focus {
    outline:rgb(212, 188, 1);
    outline-style: solid;
}

.clear-btn {
    background-color: rgb(212, 188, 1);
}

.clear-btn:active, .equals-btn:active {
    outline:rgb(212, 188, 1);
    outline-style: solid;
}

#plus, #equals {
    height: auto;
    grid-column: 4;
}

#plus {
    grid-row: 2 / 4;
}

#equals {
    grid-row: 4 / 6;
    background-color: rgb(167, 3, 3);
}



#zero {
    grid-column: 1 / 3;
    width: 190px;
}

#decimal {
    grid-column: 3 / 4;
}